@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    background: hsl(218, 23%, 16%);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 340px;
    width: 600px;
    background: hsl(217, 19%, 24%);
    padding: 0 3%;
    border-radius: 1em;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.number {
    color: hsl(150, 100%, 66%);
    letter-spacing: 0.3em;
    font-size: 14px;
    padding: 8% 0;
}

.advice {
    color: hsl(193, 38%, 86%);
    font-size: 29.5px;
    word-wrap: break-word;
}

.border {
    background: hsl(150, 100%, 66%);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 50%;
    transform: translate(-50%,232%);
    transition: box-shadow 0.2s ease-in-out;
}

.dice {
    padding: 18px;
    height: 60px;
    width: 60px;
}

.border:hover {
    box-shadow: 0px 0px 40px 3px hsl(150, 100%, 66%);
}

.border:active {
    box-shadow: none;
}

.line {
    padding: 6% 0 0 0;
}

@media (max-width: 450px){
    .card {
        height: 233.3px;
        width: 366.6px;
    }
    .number {
        font-size: 9.3px;
    }
    .advice {
        font-size: 19.5px;
    }
    .border {
        height: 40px;
        width: 40px;
    }
    .dice {
        padding: 12px;
        height: 40px;
        width: 40px;
    }
    .line {
        width: 320px;
    }
}
